<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <h1 class="header">Coming soon!</h1>
  </div>
</template>

<style>
.header {
  @apply font-bold text-5xl text-gray-800 uppercase px-8 py-16;
}
</style>

