<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <h1 class="banner">Mike Fortunato</h1>

    <div class="bio space-y-4">
      <div>
        Hi, I'm Mike. I'm a hybrid cheminformatician / data scientist / software
        engineer, and like to build web apps as a hobby. For work I create
        machine learning models to make predictions about chemistry.
      </div>
      <div>
        Feel free to take a look through my CV style web page and browse some of
        the projects I've worked on over the years, or even read some of my blog
        posts.
      </div>
    </div>

    <div class="links">
      <a
        href="https://gitlab.com/mefortunato"
        target="_blank"
        class="link-item"
      >
        <img
          class="link-img"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/GitLab_Logo.svg/1200px-GitLab_Logo.svg.png"
        />
        <div class="text-small">GitLab</div>
      </a>
      <a
        href="https://github.com/mefortunato"
        target="_blank"
        class="link-item"
      >
        <img
          class="link-img"
          src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
        />
        <div class="text-small">GitHub</div>
      </a>
      <a
        href="https://www.linkedin.com/in/mike-fortunato-a9500a58/"
        target="_blank"
        class="link-item"
      >
        <img
          class="link-img"
          src="https://image.flaticon.com/icons/png/512/174/174857.png"
        />
        <div class="text-small">LinkedIn</div>
      </a>
      <a
        href="https://scholar.google.com/citations?user=YuxYGQIAAAAJ&hl=en"
        target="_blank"
        class="link-item"
      >
        <img
          class="link-img"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Google_Scholar_logo.svg/1024px-Google_Scholar_logo.svg.png"
        />
        <div class="text-small">Scholar</div>
      </a>
    </div>

    <CV />
  </div>
</template>

<script>
import CV from "@/components/CV.vue";
export default {
  name: "Home",
  components: {
    CV,
  },
};
</script>

<style scoped>
.banner {
  @apply py-16 px-8 text-7xl font-bold text-gray-800 uppercase;
}

.bio {
  @apply px-8 font-light text-gray-500;
}

.links {
  @apply flex justify-center items-center space-x-8 my-16 py-16 border-b-2 border-gray-100;
}

.link-item {
  @apply flex flex-col items-center space-y-2 bg-gray-100 rounded p-6 text-sm text-gray-700;
}

.link-img {
  @apply w-16 h-16;
}
</style>
