<template>
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <h1 class="header">Projects</h1>
    <div v-for="(project, n) in projects" :key="n" class="my-12 px-8 -mt-8">
      <div class="title">{{ project.title }}</div>
      <div class="flex divide-x -mx-4 mb-4">
        <a :href="link" v-for="(link, n) in project.links" :key="n" class="px-4" target="_blank">{{ link }}</a>
      </div>
      <div class="description">{{ project.description }}</div>
    </div>
  </div>
</template>

<script>
import projects from "@/assets/projects";

export default {
  name: "Projects",
  data() {
    return { projects: projects };
  },
};
</script>

<style scoped>
div >>> a {
  @apply text-blue-700 hover:text-blue-800;
}
.header {
  @apply font-bold text-5xl text-gray-800 uppercase px-8 py-16;
}
.title {
  @apply text-2xl pt-4 font-bold uppercase;
}
.subheader {
  @apply font-medium uppercase text-gray-500 pb-4;
}
.description {
  @apply font-light text-gray-500;
}
</style>
