<template>
  <div class="cv">
    <div v-for="(items, name) in cv" :key="name" class="section">
      <h1 class="header py-4">{{ name }}</h1>
      <CVItem :items="items" />
    </div>
  </div>
</template>

<script>
import CVItem from "@/components/CVItem.vue";
import cv from "@/assets/cv";
export default {
  name: "CV",
  components: { CVItem },
  data() {
    return { cv: cv };
  },
};
</script>

<style scoped>
.cv {
  @apply flex flex-col space-y-8 px-8;
}

.header {
  @apply font-bold text-5xl text-gray-800 uppercase;
}
</style>