<template>
  <div>
    <div v-for="(item, n) in items" :key="n" class="item">
      <div class="item-details">
        <div class="item-title">{{ item.title }}</div>
        <div class="item-subheader">{{ item.subheader }}</div>
        <div class="item-content" v-html="item.content"></div>
      </div>
      <div class="item-date">{{ item.start }} - {{ item.end }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CVItem",
  props: {
    items: Array,
  },
};
</script>

<style scoped>
div >>> a {
  @apply text-blue-700 hover:text-blue-800;
}

div >>> b {
  @apply font-bold;
}

.item {
  @apply pb-8 flex;
}

.item-title {
  @apply text-2xl pt-4 font-bold uppercase;
}

.item-subheader {
  @apply font-medium uppercase text-gray-500 pb-4;
}

.item-content {
  @apply font-light text-gray-500;
}

.item-details {
  @apply flex flex-col w-10/12;
}

.item-date {
  @apply w-2/12 text-right;
}
</style>